.App {
    max-width: 30vw;
    margin: 50px auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.border-line {
    height: 6px;
    background-color: #f3f3f3;
    border-radius: 6px;
    margin-bottom: 20px;
}

.back-btn {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.add-header{ 
    margin-bottom: 30px;
}

.select-input {
    max-width: 300px;
    margin-bottom: 20px;
}